	h1{
		color:white
		font-size:20px;
		text-indent:50px;
		
	}
	p{
		color:white
	
	}
	body {
		background-color:black;
		background-image: url(http://78.media.tumblr.com/feffcb6ddd6ab034fd0b6c399e36c620/tumblr_oi1th4HDli1qa6y0bo1_1280.jpg)
	}

	.header{
		font-style: italic;
		color:white;
		text-indent:50px;
	}
	.all{
		margin-left:50px;
	}
	.firsttwolines{
		color:white;
		font-style:italic;
	}